/* Section - All */

section { padding: 0 30px; }
section::after { content:''; display: block; clear: both; }

/* Section - classification */

section { margin-top: 40px; margin-bottom: 30px; padding: 0; }
section aside { width: 33%; float: left; text-align: center; }

section .content { margin: 15px; background: no-repeat center top; background-size: 75px 75px; padding-top: 85px; }

section aside h3 a { color:  #000; text-decoration: none; }
section aside h3 a:hover { color:  #000; text-decoration: underline; }

section .content.Realistic { background-image: url(/assets/images/icon_star.svg); }
section .content.Investigative { background-image: url(/assets/images/icon_star.svg); }
section .content.Artistic { background-image: url(/assets/images/icon_star.svg); }
section .content.Social { background-image: url(/assets/images/icon_star.svg); }
section .content.Enterprising { background-image: url(/assets/images/icon_star.svg); }
section .content.Conventional { background-image: url(/assets/images/icon_star.svg); }