<nav id='navigation'>
    <ul>
        <li>
            <a title="About Us" href="#">About Us</a>
        </li>
        <li>
            <a title="Career Library" href="#" aria-haspopup = "true">Career Library</a>
            <ul>
                <li>
                    <a title="Interest-Area" href="#">Interest Area</a>
                </li>
                <li>
                    <a title="Categorize" href="#">Categorized</a>
                </li>
                <li>
                    <a title="Stream-wise" href="#">Stream-wise</a>
                </li>
            </ul>
        </li>
        <li>
            <a title="Psychometric Analysis" href="#" aria-haspopup = "true">Psychometric Analysis</a>
            <ul>
                <li>
                    <a title="Sub Link 1" href="#">Sub Link 1</a>
                </li>
                <li>
                    <a title="Sub Link 2" href="#">Sub Link 2</a>
                </li>
                <li>
                    <a title="Sub Link 3" href="#">Sub Link 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a title="Career Guidance" href="#" aria-haspopup = "true">Career Guidance</a>
            <ul>
                <li>
                    <a title="Sub Link 1" href="#">Sub Link 1</a>
                </li>
                <li>
                    <a title="Sub Link 2" href="#" aria-haspopup = "true">Sub Link 2</a>
                    <ul>
                        <li>
                            <a title="Sub Link 1" href="#">Sub Link 1</a>
                        </li>
                        <li>
                            <a title="Sub Link 2" href="#">Sub Link 2</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a title="Contact Us" href="#">Contact Us</a>
        </li>
    </ul>
</nav>