<!-- <h1>Interests</h1> -->
<div class="search">
    <div class="dropdown"> 
        <button class="dropbtn">Career Classification 
            <i class="fa fa-caret-down"></i>
        </button>            
        <div class="dropdown-content">
            <a class='nav-link' [routerLink]="['/interests']">Interest Area</a>
            <a class='nav-link' [routerLink]="['/categories']">Categorized</a>
            <a class='nav-link' [routerLink]="['/streams']">Stream-wise</a>
        </div>
    </div>
    <button class="homepage">
        <a href="http://localhost:4200/homepage">Home</a>
    </button>
    <input type="text" class="searchTerm" placeholder="Career you are looking for?">
</div>