
/* Text */

h1 { margin: 0 0 1em 0; font:2.8em; font-weight:700; }
h2 { margin: 0 0 .5em 0; font:1.6em; font-weight:700; line-height: 1.1; }
h3 { margin: 0 0 .5em 0; font:1.3em; font-weight:700; }
h4 { margin: 0 0 1.5em 0; font:1em; font-weight:700; }

p { margin: 0 0 1em 0; }

a { color: #007eff; }
a:visited { color: #65b1ff; }

a.btn { font-size: 1em; text-decoration: none; color: #fff; border: 1px solid #fff; padding: 4px 15px; transition: background-color 0.5s; }
a.btn:hover { background-color: rgba(0,0,0,.3); }


/* Header */

header { height: 430px; background: #cf0004 url(/assets/images/options-1200.jpg) no-repeat center bottom; position: relative; }

header a.logo { 
	z-index: 1;
	position: absolute; 
	display: block; width: 160px; height: 66px;
	background: url(/assets/images/logo.svg) no-repeat 0 0; background-size:  contain;
	top: 15px; left: 15px;
	}
	
header a.logo span { display: none; }

header div.hero { position: absolute; width: 42%; top: 260px; left: 55%; }
header div.hero h1 { line-height: 1em; margin: 0 0 30px 0; color: #fff; }


/* Section - All */

section { padding: 0 30px; }
section::after { content:''; display: block; clear: both; }

/* Section - career-library */

section.career-library { margin-top: 20px; margin-bottom: 30px; padding: 0; }
section.career-library aside { width: 33%; float: left; text-align: center; }

section.career-library .content { margin: 15px; background: no-repeat center top; background-size: 75px 75px; padding-top: 85px; }

section.career-library aside h3 a { color:  #000; text-decoration: none; }
section.career-library aside h3 a:hover { color:  #000; text-decoration: underline; }

section.career-library .content.Interest { background-image: url(/assets/images/icon_star.svg); }
section.career-library .content.Career-Categorization { background-image: url(/assets/images/icon_marker.svg); }
section.career-library .content.Stream-Wise { background-image: url(/assets/images/icon_gear.svg); }


/* Section - psychometric-analysis */

section.psychometric-analysis { background-color: #988B88; padding-top: 30px; padding-bottom: 30px; color: #fff; }

section.psychometric-analysis article { padding: 0 20px 0 515px; background: url(/assets/images/psychometric.jpg) no-repeat 0 5px; min-height: 220px }


/* Section - expert-guidance */

section.expert-guidance { background-color: #EEE7E6; position: relative }

section.expert-guidance aside .content.counselor { width: 31%; float: left; margin-right: 10px }
section.expert-guidance aside .content.expert { width: 31%; float: left; margin-right: 10px }

section.expert-guidance .content { padding: 30px 30px 20px 0; }

section.expert-guidance .content img { display: block; margin-bottom:  15px; width: 80% }

section.expert-guidance .content h4 { margin-bottom: 0; }
section.expert-guidance .content p { margin-bottom: 0.5em; }
section.expert-guidance .content a { display: inline-block; color: #cc6633; font-weight: 700; }

section.expert-guidance blockquote { margin: 0; width: 30%; color: #444; background-color: #fff; position: absolute; bottom: 0; right: 4%; }

section.expert-guidance blockquote p { margin: 30px 30px 20px 50px; }

section.expert-guidance blockquote p.quote { font-style: italic; font-size: 1.2em; }

section.expert-guidance blockquote p.credit { color: #777; font-size: .9em; margin-top: 0; padding-left: 20px; line-height: 1.3em; position: relative; }

section.expert-guidance blockquote::before { content: '\201c'; color: #988B88; position: absolute; top: 10px; left: 8px; font-size: 5em; font-family: serif; }

section.expert-guidance blockquote p.quote::after { content: '\201d'; font-family: serif; }

section.expert-guidance blockquote p.credit::before { content: '\2014'; position: absolute; top: 0; left: -1px; }
