	  <header>
          <a class="logo" title="Helpingly" href="http://google.com"><span>Helpingly</span></a>
          <div class="hero">
            <h1>Map your Career to your Interest Area and Personality</h1>
            <a class="btn" title="Get advice from experts" href="#">Let's Sit Together</a>
          </div>
          </header>
  
    <section class="career-library">
      <aside>
        <div class="content Interest">
          <h3><a (click)="clickInterestClassification()" href="http://localhost:4200/interests">Interest</a></h3>
          <p>Classifying an individual according to one's interests so that one can be matched with appropriate careers. All careers can be classified into six broad areas, which can be used to describe people, their personalities and interests.</p>
        </div>
      </aside>
      <aside>
        <div class="content Career-Categorization">
            <h3><a (click)="clickCareerCategorization()" href="http://localhost:4200/categories">Career Categorization</a></h3>
          <p>Organizing Careers into a clearly defined set of groups according to the jobs commonly clustered within a career emphasis. Content of defined work within a job is the key criteria in determining relationship to this familial structure.</p>
        </div>
      </aside>
      <aside>
        <div class="content Stream-Wise">
            <h3><a (click)="clickStreamClassification()" href="http://localhost:4200/streams">Stream-Wise</a></h3>
          <p>Careers are listed stream wise, hence providing all the career options emerging from a specific stream. For that matter students can be broadly classified in terms of streams namely commerce, science and arts.</p>
        </div>
      </aside>
    </section>
    
    <section class="psychometric-analysis">
      <article>
        <h2>Psychometric Analysis</h2>
        <p>Psychometric tests is a scientific method to check existing skills, interests and assess personality of an individual. Career counsellors use a psychometric assessment to understand the personality and interests of the candidate and assess their skill set to find a suitable Career Path</p>
        <a class="btn" title="Psychometric Analysis" href="#">Learn More</a>
      </article>
    </section>
    
    <section class="expert-guidance">
      <aside>
        <div class="content counselor">
          <img alt="Expert Career Guidance" src="../assets/images/counselor.jpg">
          <h4>Expert Career Guidance</h4>
          <p>A comprehensive, developmental program designed to assist individuals in making and implementing informed educational and occupational choices. This results in social, financial and emotional well-being of an individual</p>
          <a title="Expert Guidance" href="#">Learn More</a>
        </div>
      </aside>
      <aside>
        <div class="content expert">
          <img alt="Consult Domain Expert" src="../assets/images/expert.jpg">
          <h4>Consult Domain Expert</h4>
          <p>A domain expert is a person with special knowledge or skills in a particular area of endeavor </p>
          <a title="Domain Expert" href="#">Learn More</a>
        </div>
      </aside>
      <blockquote>
        <p class="quote">Find out what you like doing best and get someone to pay you for doing it.</p>
        <p class="credit"><strong>Katharine Whitehorn</strong><br><em>Journalist, Writer</em></p>
      </blockquote>
    </section>
    <nav-bar></nav-bar>